<launch>
	<!-- Spawn tags from 20180430_001-->
	<!-- move_base config of landmarks -->

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id00"/> 
		<arg name="x"	value="0.0"/> 
		<arg name="y"	value="0.0"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id01"/> 
		<arg name="x"	value="0.2"/> 
		<arg name="y"	value="0.0"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id02"/> 
		<arg name="x"	value="0.4"/> 
		<arg name="y"	value="0.0"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id03"/> 
		<arg name="x"	value="0.6"/> 
		<arg name="y"	value="0.0"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id04"/> 
		<arg name="x"	value="0.8"/> 
		<arg name="y"	value="0.0"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id05"/> 
		<arg name="x"	value="0.0"/> 
		<arg name="y"	value="-0.2"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id06"/> 
		<arg name="x"	value="0.2"/> 
		<arg name="y"	value="-0.2"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id07"/> 
		<arg name="x"	value="0.4"/> 
		<arg name="y"	value="-0.2"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id08"/> 
		<arg name="x"	value="0.6"/> 
		<arg name="y"	value="-0.2"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id09"/> 
		<arg name="x"	value="0.8"/> 
		<arg name="y"	value="-0.2"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id10"/> 
		<arg name="x"	value="0.0"/> 
		<arg name="y"	value="-0.4"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id11"/> 
		<arg name="x"	value="0.2"/> 
		<arg name="y"	value="-0.4"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag"	value="id12"/> 
		<arg name="x"	value="0.4"/> 
		<arg name="y"	value="-0.4"/> 
		<arg name="z"   value="0.0"/> 
		<arg name="Y"	value="0.0"/> 
	</include>




</launch>

<!-- 
Global Angle (Quaternion) april06:april06
(use as id02)
0.0109166
0.00404163
-0.750712
0.660527

0.144998
0.150841
0.414720
yaw: -97.307 deg
yaw: -1.6983 rad

Global Angle (Quaternion) april03:april03
0.00674514
0.0113953
0.924448
0.381078

-0.182351
-0.172667
0.418237
yaw: 135.205 deg
yaw: 2.3598 rad


Global Angle (Quaternion) april07:april07
0.000060924
0.000184655
-0.821803
0.569772

0.59904
-0.31031
-0.000416259
yaw: -110.531 deg
yaw: -1.9291 rad

 -->