<launch>
	<arg name="x1" default="0.25"/>
	<arg name="x2" default="0.75"/>
	<arg name="x3" default="-0.75"/>
	<arg name="x4" default="-0.25"/>

	<arg name="y1" default="0.5"/>
	<arg name="y2" default="0.0"/>
	<arg name="y3" default="-0.5"/>


	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id00"/> 
		<arg name="x"   value="$(arg x1)"/> 
		<arg name="y"   value="$(arg y1)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id01"/> 
		<arg name="x"   value="$(arg x2)"/> 
		<arg name="y"   value="$(arg y1)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id02"/> 
		<arg name="x"   value="$(arg x3)"/> 
		<arg name="y"   value="$(arg y1)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id03"/> 
		<arg name="x"   value="$(arg x4)"/> 
		<arg name="y"   value="$(arg y1)"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id04"/> 
		<arg name="x"   value="$(arg x1)"/> 
		<arg name="y"   value="$(arg y2)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id05"/> 
		<arg name="x"   value="$(arg x2)"/> 
		<arg name="y"   value="$(arg y2)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id06"/> 
		<arg name="x"   value="$(arg x3)"/> 
		<arg name="y"   value="$(arg y2)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id07"/> 
		<arg name="x"   value="$(arg x4)"/> 
		<arg name="y"   value="$(arg y2)"/> 
	</include>

	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id08"/> 
		<arg name="x"   value="$(arg x1)"/> 
		<arg name="y"   value="$(arg y3)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id09"/> 
		<arg name="x"   value="$(arg x2)"/> 
		<arg name="y"   value="$(arg y3)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id10"/> 
		<arg name="x"   value="$(arg x3)"/> 
		<arg name="y"   value="$(arg y3)"/> 
	</include>
	<include file="$(find robot_descriptions)/tags/launch/spawn_tag.launch" >
		<arg name="tag" value="id11"/> 
		<arg name="x"   value="$(arg x4)"/> 
		<arg name="y"   value="$(arg y3)"/> 
	</include>



</launch>

